<!DOCTYPE html >
{% load i18n %}
<html>
    <head lang="{{ LANGUAGE_CODE }}">
        <meta charset="utf-8" />
        <title>{% block title %}{% trans "Platforma Redakcyjna" %} ::
            {% block titleextra %}{% endblock titleextra %}{% endblock title%}</title>
        {% block extrahead %}
        {% endblock %}
    </head>
    <body id="{% block bodyid %}base{% endblock %}">

    <div id="loading-overlay">
    	<div id="loading-message">
        	<img src="{{STATIC_URL}}img/spinner.gif" alt="Loading" />
        	<p>{% trans "Loading" %}</p>
    	</div>
	</div>

	<div id="body-wrap">
		<!-- version: {{ APP_VERSION }} -->
        <div id="content">{% block maincontent %} {% endblock %}</div>
        </div>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    {% block extrabody %}{% endblock %}
    </body>
</html>
