{% extends "base.html" %}
{% load toolbar_tags i18n %}

{% block titleextra %}{{ chunk.pretty_title }}{% endblock %}
{% block extrahead %}
{% load pipeline %}
{% stylesheet 'detail' %}
{% endblock %}

{% block extrabody %}
<script type="text/javascript">
    var STATIC_URL = '{{STATIC_URL}}';
</script>
{% javascript 'detail' %}
{% endblock %}

{% block maincontent %}
<div id="document-meta"
	data-chunk-id="{{ chunk.pk }}" style="display:none">

	<span data-key="gallery">{{ chunk.book.gallery }}</span>
	<span data-key="gallery-start">{% if chunk.gallery_start %}{{ chunk.gallery_start }}{% endif %}</span>
	<span data-key="revision">{{ revision }}</span>
    <span data-key="diff">{{ request.GET.diff }}</span>

	{% block meta-extra %} {% endblock %}
</div>

<div id="header">
    <h1><a href="{% url 'catalogue_document_list' %}"><img src="{{STATIC_URL}}icons/go-home.png"  alt="Home" /></a><a href="{% url 'catalogue_document_list' %}">Strona<br>główna</a></h1>
    <div id="tools">
        <a href="{{ REDMINE_URL }}projects/wl-publikacje/wiki/Pomoc" target="_blank">
        {% trans "Help" %}</a>
        | {% include "registration/head_login.html" %}
        | {% trans "Version" %}: <span id="document-revision">{% trans "Unknown" %}</span>
		{% if not readonly %}
            | <button style="margin-left: 6px" id="save-button">{% trans "Save" %}</button>
			<span id='save-attempt-info'>{% trans "Save attempt in progress" %}</span>
            <span id='out-of-date-info'>{% trans "There is a newer version of this document!" %}</span>
		{% endif %}
    </div>
    <ol id="tabs" class="tabs">
    	{% block tabs-menu %} {% endblock %}
    </ol>
    <ol id="tabs-right" class="tabs">
        {% block tabs-right %} {% endblock %}
    </ol>
</div>
<div id="splitter">
    <div id="editor" class="{% block editor-class %} {% endblock %}">
    	{% block tabs-content %} {% endblock %}
    </div>
	{% block splitter-extra %} {% endblock %}
</div>

{% block dialogs %} {% endblock %}

{% endblock %}
