{% extends "wiki/document_details_base.html" %}
{% load i18n %}

{% block extrabody %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/lib/codemirror-0.8/codemirror.js" type="text/javascript" charset="utf-8">
</script>
<script src="{{ STATIC_URL }}js/wiki/loader.js" type="text/javascript" charset="utf-8"> </script>
{% endblock %}

{% block tabs-menu %}
    {% include "wiki/tabs/summary_view_item.html" %}
    {% include "wiki/tabs/wysiwyg_editor_item.html" %}
    {% include "wiki/tabs/source_editor_item.html" %}
    {% include "wiki/tabs/history_view_item.html" %}
{% endblock %}

{% block tabs-content %}
    {% include "wiki/tabs/summary_view.html" %}
    {% include "wiki/tabs/wysiwyg_editor.html" %}
    {% include "wiki/tabs/source_editor.html" %}
    {% include "wiki/tabs/history_view.html" %}
{% endblock %}

{% block tabs-right %}
    {% include "wiki/tabs/gallery_view_item.html" %}
    {% include "wiki/tabs/annotations_view_item.html" %}
    {% include "wiki/tabs/search_view_item.html" %}
{% endblock %}

{% block splitter-extra %}
<div class="vsplitbar" title="{% trans "Click to open/close gallery" %}">
    <p class="vsplitbar-title"></p>
    </div>
    <div id="sidebar">
        {% include "wiki/tabs/gallery_view.html" %}
        {% include "wiki/tabs/annotations_view.html" %}
        {% include "wiki/tabs/search_view.html" %}
    </div>
    <div id="drag-layer"></div>
{% endblock %}

{% block dialogs %}
    {% include "wiki/save_dialog.html" %}
    {% include "wiki/revert_dialog.html" %}
    {% if can_pubmark %}
        {% include "wiki/pubmark_dialog.html" %}
    {% endif %}
{% endblock %}
