{% extends "catalogue/base.html" %}
{% load i18n %}


{% block titleextra %}{% trans "Active users" %}{% endblock %}


{% block content %}

<h1>
    {% trans "Active users since" %} {{ since }}
</h1>

<ul>
{% for email, names, count in users %}
<li>{% for name in names %}{{ name }},  {% endfor %}<a href="mailto:{{ email }}">{{ email }}</a> ({{ count }})</li>
{% endfor %}
</ul>

{% endblock content %}
