{% load pipeline i18n %}
{% load catalogue %}
<!DOCTYPE html>
<html>
<head lang="{{ LANGUAGE_CODE }}">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    {% stylesheet 'catalogue' %}
    <title>{% block title %}{% trans "Platforma Redakcyjna" %} ::
        {% block titleextra %}{% endblock %}{% endblock title %}</title>
    {% block add_css %}{% endblock %}
</head>
<body>
<!--#include file='/pozor.html'-->
<div id="tabs-nav">

    <a href="{% url 'catalogue_document_list' %}">
        <img id="logo" src="{{ STATIC_URL }}img/wl-orange.png" alt="Platforma" />
    </a>

    <div id="tabs-nav-left">
        {% main_tabs %}
    </div>

    <span id="login-box">
        {% include "registration/head_login.html" %}
    </span>

    <div class='clr' ></div>
</div>

<div id="content">

{% block content %}
<div id="catalogue_layout_left_column">
	{% block leftcolumn %}
	{% endblock leftcolumn %}
</div>
<div id="catalogue_layout_right_column">
	{% block rightcolumn %}
	{% endblock rightcolumn %}
</div>
{% endblock content %}

</div>


<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
{% javascript 'catalogue' %}
{% block add_js %}{% endblock %}
{% block extrabody %}
{% endblock %}
</body>
</html>
