{% extends "catalogue/base.html" %}
{% load book_list i18n %}


{% block titleextra %}{{ object.title }}{% endblock %}


{% block content %}


<h1>{{ object.title }}</h1>


{% if editable %}<form method='POST'>{% csrf_token %}{% endif %}
<table class='editable'><tbody>
    {{ form.as_table }}
    {% if editable %}
        <tr><td></td><td><button type="submit">{% trans "Save" %}</button></td></tr>
    {% endif %}
</tbody></table>
{% if editable %}</form>{% endif %}



<div class='section'>
    <h2>{% trans "Editor" %}</h2>

    <p><a href="{% url 'wiki_img_editor' object.slug %}">{% trans "Proceed to the editor." %}</a></p>
</div>



<div class='section'>


<h2>{% trans "Publication" %}</h2>

<p>{% trans "Last published" %}: 
    {% if object.last_published %}
        {{ object.last_published }}
    {% else %}
        &mdash;
    {% endif %}
</p>

{% if publishable %}
    {% if user.is_authenticated %}
        <!--
        Angel photos:
        Angels in Ely Cathedral (http://www.flickr.com/photos/21804434@N02/4483220595/) /
        mira66 (http://www.flickr.com/photos/21804434@N02/) /
        CC BY 2.0 (http://creativecommons.org/licenses/by/2.0/)
        -->
        <form method="POST" action="{% url 'catalogue_publish_image' object.slug %}">{% csrf_token %}
            <!--img src="{{ STATIC_URL }}img/angel-left.png" style="vertical-align: middle" /-->
            <button id="publish-button" type="submit">
                <span>{% trans "Publish" %}</span></button>
            <!--img src="{{ STATIC_URL }}img/angel-right.png" style="vertical-align: middle" /-->
            </form>
    {% else %}
        <a href="{% url 'login' %}">{% trans "Log in to publish." %}</a>
    {% endif %}
{% else %}
    <p>{% trans "This book can't be published yet, because:" %}</p>
    <ul><li>{{ publishable_error }}</li></ul>
{% endif %}

</div>


{% endblock content %}
