{% extends "catalogue/base.html" %}

{% block titleextra %}Oznacz książki{% endblock %}


{% block leftcolumn %}

<h1>Oznacz książki</h1>

<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Oznacz">
</form>

{% endblock leftcolumn %}