{% extends "catalogue/base.html" %}

{% block titleextra %}Oznaczono książki{% endblock %}


{% block leftcolumn %}

<h1>Oznaczono książki</h1>

<p>Książki zostały oznaczone.</p>

{% endblock leftcolumn %}