{% extends "catalogue/base.html" %}

{% load i18n %}
{% load catalogue book_list wall %}
{% load pipeline %}

{% block add_js %}
{% javascript 'book_list' %}
{% endblock %}

{% block add_css %}
{% stylesheet 'book_list' %}
{% endblock %}

{% block titleextra %}{% trans "My page" %}{% endblock %}


{% block leftcolumn %}
    {% book_list request.user %}
{% endblock leftcolumn %}

{% block rightcolumn %}
    <div id="last-edited-list">
        <h2>{% trans "Your last edited documents" %}</h2>
        <ol>
            {% for edit_url, item in last_books %}
                <li><a
                {% if edit_url|length == 2 %}
                    {# Temporary support for old-style last_books. #}
                    href="{% url 'wiki_editor' edit_url.0 edit_url.1 %}"
                {% else %}
                    href="{{ edit_url }}"
                {% endif %}
                target="_blank">{{ item.title }}</a><br/><span class="date">({{ item.time|date:"H:i:s, d/m/Y" }})</span></li>
            {% endfor %}
        </ol>
    </div>

    <h2>{% trans "Recent activity for" %} {{ request.user|nice_name }}</h2>
    {% wall request.user 10 %}
{% endblock rightcolumn %}
